.container-footer {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:slateblue;
    border: 2px solid antiquewhite;
    background-color: beige;
    font-family: fantasy;
    font-size: 2 rem;
    
    
}